.App {
  height: 100vh;
  font-size: 30px;
  text-align: center;
  font-family: Consoles;
  background-image: linear-gradient(#FF00FF, #ff7aff);
}

.navbar {
  align-self: center;
  font-family: Consoles;
}
.nav_link {
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 2s ease-out 100ms, color 2s ease-out 100ms;
}
.nav_link:hover {
  color :#c500c5;
  background-color :#ffb8ff;
}

.home {
  color:#7f0099;
}

.gender {
  width: 100vw;
  align-items: center;
}

.trans_flag_cell{
  width: fit-content;
  padding: 20px;
}
.trans_flag {
  width: 30vw;
  height: 80pt;
}
.trans_flag_blue {
  width: 100%;
  height: 100%;
  border-radius: 5% / 10%;
  background-color: #5BCEFA;
}
.trans_flag_blank {
  height: 5%;
}
.trans_flag_pink {
  width: 100%;
  height: 70%;
  background-color: #F5ABB9;
}
.trans_flag_white {
  width: 100%;
  height: 60%;
  background-color: #FFFFFF;
}

.pronouns_cell {
  float: right;
  padding: 20px;
}
.pronouns {
  float: left;
  padding: 20px;
  color :#ffb8ff;
  width: fit-content;
  border-radius: 25px;
  background-color:#7f0099;
  transition: background-color 2s ease-out 100ms, color 2s ease-out 100ms;
}
.pronouns:hover {
  color:#7f0099;
  background-color:#c500c5;
}

.im_demma:hover {
  color :#ffb8ff;
}

.link, .link_youtube, .link_soundcloud, .link_github, .link_twitter, .link_reddit {
  padding: 15px;
  color:#7f0099;
  font-size: 30px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 2s ease-out 100ms, color 2s ease-out 100ms, font-size 1s ease-out 10ms;
}
.link:hover, .link_youtube:hover, .link_soundcloud:hover, .link_github:hover, .link_twitter:hover, .link_reddit:hover {
  font-size: 40px;
}
.link_youtube:hover{
  color:#FFFFFF;
  background-color:#FF0000;
}
.link_soundcloud:hover{
  color:#FFFFFF;
  background-color:#F26F23;
}
.link_github:hover{
  color:#fafbfc;
  background-color:#24292e;
}
.link_twitter:hover{
  color:#F5F8FA;
  background-color:#1DA1F2;
}
.link_reddit:hover{
  color:#ffffff;
  background-color:#ff6314;
}
